@import './index.css';
.homepage{
    padding-top: 7rem;
}
.our-best-seller-font{
    letter-spacing: 0.15rem;
    text-shadow: 2px 1px rgba(128, 128, 128, 0.656) !important;
    -webkit-text-fill-color: #f78254b6 !important;
}
.border-thickness{
    border-width: 0.3ch !important;
}
.btn-color{
    border: 0.1rem solid !important;
    border-color: #F78154 !important;
    background-color: #f7825430;
}