.page{
    padding-top:10rem;
}
.btn-animation:hover{
    background-color:#F78154 !important;
    z-index:1;
}
.border_nude{
    border: 0.1rem solid !important;
    border-color: #F78154 !important;
}
 a.current{
    background-color:#F78154 !important;
}
.food_cards{
    margin:auto;
}
.menu_writing{
    color: black !important;
    font-size: 0.945rem !important;
}

@media only screen and (min-width:768px){
    #food_options_mobile{
       display: none
    }
}
@media only screen and (max-width: 767px){
    #food_options_lgscrn{
       display: none;
    }
}