
.nav-item{
    padding: 0 2rem !important;
}
.nav_border{
    border-color: #F78154 !important;
}
#navigation .nav-link{
    color: black !important;
    font-size: 1.05rem;
    letter-spacing: 0.15rem;
    transition: 0.5s ease-in-out;
    
}
#navigation .nav-link:hover{
    color: #F78154 !important;
    font-size: 1.05rem;
}
.address-writing a{
    font-size: 0.75rem;
    color: black !important;
}
.navbar-brand{
    transition: 1s ease-in-out;
}
.navbar-brand:hover{
    opacity: 50%;
}

@media only screen and (max-width: 810px){
    .nav-lgscreen{
        display:none;
    }
    
}

 

